*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue",sans-serif;
    background-color: #101113;
    color: white;
}

nav.black ul{
    background: #ffffff;
}

nav.black .menuItem a, nav.black .logo{
    color: #000000;
}

.upcomingFilms{
    margin: auto;
    padding-top: 120px;
}

#upcomingHead{
    text-align: center;
    padding-bottom: 40px;
}

.row{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.col1{
    flex: 25%;
    padding: 10px;
}

.col1 h4{
    font-weight: lighter;
    color: #e4e4e4;
}

.col1 img{
    width: 80%;
    height: 80%;
}