@font-face{
    font-family: "Monument Extended";
    src: url("MonumentExtended.ttf");
}

@font-face{
    font-family: "Monument Extended";
    src: url("MonumentExtended-Black.ttf");
    font-weight: 600;
}

@font-face{
    font-family: "Monument Extended";
    src: url("MonumentExtended-Black.ttf");
    font-weight: 700;
}