<!DOCTYPE html>
<html>
  <head>
  <meta charset = "utf-8"
  <title></title>
  <style>
  table{
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  
  }
  
  table th {
    text-align: left;
	background-color:#42c5f5;
	padding: 4px 150px 4px 8px;
  }
  
  table td{
    border: 1px solid #e3e3e3;
    padding: 4px 8px;	
  }
  
  .box{
  position:absolute;
  top:2.5%;
  left:40%;
 
  
  }
  .box select{
  padding:10px;
  width:250px;
  height:50px;
  font-size: 15px;
  }
  
  
  </style>
  </head>
  <body>
  
  <button type="button">Back</button>
  <button type="button2">Proceed</button>
  
    <div class="box">
	   <select>
	       <option>Select a Time</option>
		   <option>Date and Time 1</option>
		   <option>Date and Time 2</option>
		   <option>Date and Time 3</option>
           <option>Date and Time 4</option>			   
		</select>
	</div>
  
            <br></br>
            <br></br>
            <br></br>
			<br></br>
    <table>
       <tr>
        
		  <th>Tickets</th>
		  <th>Price</th>
		  <th>Stock</th>
       </tr>
	   <tr>
	   
	      <td>Adult</td>
	      <td>£11.00</td>
	      <td><button>Buy</button> </td>
	   </tr>
	   
	   <tr>
	   
	      <td>Child(Under 13s)</td>
	      <td>£7.00</td>
	       <td><button>Buy</button> </td>
	   </tr>
	   
	   <tr>
	   
	      <td>Teen(13-17years)</td>
	      <td>£8.50</td>
	       <td><button>Buy</button> </td>
	   </tr>
	   
	   <tr>
	   
	      <td>Senior</td>
	      <td>£9.00</td>
	       <td><button>Buy</button> </td>
	   </tr>
	   
	   <tr>
	   
	      <td>Family</td>
	      <td>£32.00</td>
	       <td><button>Buy</button> </td>
	   </tr>
 
 
 
 
 </table>
</body>
</html>
