

body{
    background-color: black;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height:100px;
    font-family: "Helvetica Neue",sans-serif;
    
    margin:20px ;
}
.screening {
    background-color: antiquewhite;
    height: 70px;
    width: 100%;
    margin: 17px ;
    
}

.showcasing {
    background-color: black;
    padding: 7px 15px;
    border-radius: 7px;
    color: antiquewhite;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.cinemascreeing-container{
    margin:20px 0;
}

.cinemascreeing-container{
    background-color: black;
    border: 0;
    border-radius:5px ;
    font-size: 15px;
    margin-left: 15;
    padding: 7px 15px 7px 15px;

}

.column {
    display: flex;
}



.producing li small {
    margin-left: 3px;
}

.producing li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}

.container{
    perspective: 1500px;
    margin-bottom: 15px;
}

.chair.selected{
    background-color: white;
}

*{
    box-sizing: border-box;
}





